# See http://help.github.com/ignore-files/ for more about ignoring files.
.env*
prod.env

# dependencies
node_modules

# testing
coverage
# production
.netlify

# misc
.DS_Store
npm-debug.log

#IDE
.idea/*
*.swp
.vscode